<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>

    <environment include="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />        
        <link rel="stylesheet" href="~/css/jquery.dataTables.min" />
        <link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Book Resources", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - BookStore</p>
        </footer>
    </div>
    <environment include="Staging,Production">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/dataTables.bootstrap.min.js"></script>
        <script src="~/js/site.min.js"></script>
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/dataTables.bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
